* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: white;
	font-family: verdana, calibri, sans-serif;
}

img {
	height: 100px;
}

figure, nav, ul, li {
    display: inline-block;
}
figure {
    width:20%;
}  
nav {
    float: right;
    height: 45px;
    background-color: #424558;
    border-radius: 5px;
    width: 80%;
  }

 ul,li{
     display: none;
 }

 button{
  float: right;
  font-size: 30px;
 }



 ul::after,li::after{
     display: inline-block;
 }

 .presentation-coach-sportif {
	width: 100%;
    height: 50%;
 }

 figcaption {
	position:relative;
	top: -30rem;
}



